out
output
inputs
data
target/
project/target/
.classpath
.project
.settings
project/project/
!project/project/plugins.scala
bin/
RUNNING_PID
test-reports
.idea
*.iml
*.ipr
*.iws
.sbt.ivy.lock
cache
!Common/src/main/scala/dss/pla/common/cache
!Common/src/test/scala/dss/pla/common/cache
.DS_Store
Git.scala
.ensime*
node_modules
.grunt
.tags
,history
templates.js
*.log
*.log.gz
work/
logback-test.xml
!*/*/src/*/scala/dss/pla/batch/cache
*.zip
